.payment-page-container {
  margin: auto;
  max-width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.payment-page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-page-cart {
  list-style-type: none;
  padding: 0;
  flex: 1;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
}

.payment-page-cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payment-page-cart-item-img {
  width: 80px;
  margin-right: 20px;
}

.payment-page-cart-item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.payment-page-cart-item-price {
  margin-bottom: 5px;
}

.payment-page-cart-item-quantity {
  margin-bottom: 0;
}

.payment-page-total-price {
  font-size: 18px;
  font-weight: bold;
}

.payment-page-form {
  margin-top: 20px;
}

.payment-page-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.payment-page-form-input,
.payment-page-form-textarea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 600px;
  border-radius: 4px;
}
.payment-page-form-input-email{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;
  border-radius: 4px;
}
.payment-page-form-input-phone{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 4px;
}

.payment-page-form-input:focus,
.payment-page-form-textarea:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 3px rgba(0, 119, 255, 0.5);
}

.payment-page-form-button {
  background-color: #0077ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.payment-page-form-button:hover {
  background-color: #0066cc;
}
.payment-page-shoppinginformation{
  padding: 56px 66px 0px 0px;
  border-right: 1px solid #ccc;
}
.payment-page-payment{
  padding: 56px 0px 0px 44px;
}
.payment-page-select{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.payment-page-select-option{
  display: block;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 6.3px;
  margin-bottom: 10px;
  width: 190px;
  border-radius: 4px;
}
.payment-page-link{
  display: flex;
  flex-wrap: nowrap;
}
.payment-page-text{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.payment-page-form-input-radio{
  margin-bottom: 20px;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.payment-page-input-radio-text{
  padding: 0px 10.5px 0px 0px;
}
.payment-page-text-size{
  font-size:14px;
  font-family: "Helvetica Neue", sans-serif;
}
.payment-page-cart-sale{
  width: 659.750px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.payment-page-cart-sale-item{
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.payment-page-cart-button{
  background-color: grey;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.payment-page-cart-total{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  width: 659.750px;
}
.payment-page-cart-total-title{
  border-bottom: 1px solid #ccc;
  width: 659.750px;
}