.button-wrapper {
  display: flex;
  justify-content: center;
}

.buybutton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.buybutton:hover {
  background-color: white;
  color: black;
}

.cart-item-image {
  width: 177px;
  height: 248px;
  object-fit: cover;
}

.paybutton {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}

.paybutton:hover {
  background-color: black;
  color: white;
}

/* Style for pagination buttons */
.pagination-buttons {
  display: flex;
  justify-content: center;
}

.pagination-buttons button {
  padding: 8px 10px;
  background-color: #cecbcb;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-buttons button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-buttons .active {
  background-color: #f56d6d;
  color: white;
}

.pagination-buttons button:hover {
  background-color: #e0e0e0;
}

.pagination-buttons .page-info {
  font-size: 14px;
  font-weight: bold;
}
